html {
/*  margin: 0 auto;
*/  padding: 0;
}

body {
  font-size: 16px;
   background: #2c3e50;
  color: #707B86;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
}

#container {
  margin: 0 auto;
  width: 75%;
}

div{
  display: inline-block;
  width: 10%;
  float: left;
}

h1 {
  color: #203142;
  font-size: 5em;
}

#sudoku_string{
  word-wrap: break-word;
  font-size: 2em;
}

span:nth-of-type(9n) {
  /*display: block;*/

}

.zero{
  border-radius: 50%;
  margin: 2em auto 50px;
  width: 2em;
  height: 2em;
  background: #e74c3c;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip, .flip:hover {
  margin: 2em auto 50px;
  width: 2em;
  height: 2em;
  background: #e74c3c;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
  -webkit-transform-origin: 30000% 30000%;
  -moz-transform-origin: 30000% 30000%;
  -ms-transform-origin: 30000% 30000%;
  -o-transform-origin: 30000% 30000%;
  transform-origin: 30000% 30000%;
  transform-origin: 30000% 30000%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(.35deg) rotateY(360deg);
     -moz-transform: rotateX(.35deg) rotateY(360deg);
      -ms-transform: rotateX(.35deg) rotateY(360deg);
       -o-transform: rotateX(.35deg) rotateY(360deg);
          transform: rotateX(.35deg) rotateY(360deg);
}