html {
  padding: 0;
}

body {
  font-size: 16px;
  background: #2c3e50;
  color: #707B86;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 770px;
}

div:not(#container){
  display: inline-block;
  margin: 2px;
  width: 70px;
  width: 80px;
  height: 80px;
  background: #1abc9c;
  border-radius: 5px;
  line-height: 80px;
}


h1 {
  color: #203142;
  font-size: 4em;
  text-shadow: 0 -2px 0 rgba(0,0,0,.5), 0 2px 0 rgba(255,255,255,.1);
}

#sudoku_string{
  word-wrap: break-word;
  font-size: 2em;
}

.zero {
  width: 80px;
  height: 80px;
  background: #e74c3c !important;
  line-height: 80px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip, .flip:hover {
  background: #1abc9c !important;
  -webkit-transform: rotateX(.35deg) rotateY(360deg);
  -moz-transform: rotateX(.35deg) rotateY(360deg);
  -ms-transform: rotateX(.35deg) rotateY(360deg);
  -o-transform: rotateX(.35deg) rotateY(360deg);
  transform: rotateX(.35deg) rotateY(360deg);

}